<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Default title for my pages</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet">

    <link th:href="@{/webjars/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container-fluid">
    <!--
<div th:replace="fragments/header :: header"/> -->

<div  class="row" layout:fragment="content"/>

<!--  <div th:replace="fragments/footer :: footer"/> -->
</div>

</body>
</html>